
{% block header %}
<header class="bg-black shadow max-h-20 flex justify-between items-center w-full p-4">
        <!-- logo and search bar -->
        <div id="header-left-side" class="flex flex-row items-left w-1/2">
            <div class="w-3/5 flex items-center" >
                <a href="../"><h1 class="text-white font-black text-2xl tracking-wider">soci+A+lise</h1></a>
            </div>
            <div class="w-2/5">
                <form action="/search" method="POST">
                    {% csrf_token %}
                        <input type="text" name="username" placeholder="Search for name..." class="rounded focus:w-full">
                        <!-- <button type="submit"><i class="fa fa-search fa-1x"></i></button> -->
                </form>
            </div>
        </div>

        <!-- Add new post button and flyout menu -->
        <div id="header-right-side" class="flex align-right">
                <a id="post-button" href="#" class="flex items-center relative bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 mr-6 px-3 py-1 hover:bg-pink-500 rounded shadow text-white">
                      Add new post</a>
                <div id="post-menu" class="hidden p-2 absolute top-0 right-0 mt-12 w-48">
                    <!-- Hidden flyout menu with new post details -->
                    <div class="absolute z-10 mt-5 flex -translate-x-1/2 px-4">
                        <div class="flex-auto overflow-hidden rounded bg-white shadow">
                            <div class="p-4 m-4">
                                <div class="px-4 py-3 -mx-5 -mt-4 mb-5 border-b">
                                    <h4>New post</h4>
                                </div>
                
                                <div class="flex justify-center flex-center text-center"></div>
                                        <form action="upload" method="POST" enctype="multipart/form-data" >
                                            {% csrf_token %}
                                            <div class="flex flex-col">
                                                <input type="file" name="image_upload" class="my-2">
                                                <textarea class="button soft-warning small" name="caption" placeholder="caption..."  class="my-2 mb-3"></textarea>
                                                <button class="button bg-pink-700 text-white p-3 rounded mt-3" type="submit" >Upload</button>
                                            </div>
                                        </form>
                                </div>
                            </div>
                        
                    </div>
                </div>
            
            <!-- Profile settings and log out -->
            <div class="lg:pr-4 relative">
                <a id="user-button" href="#" class="rounded">
                    {% csrf_token %}
                    <img src="{{user_profile.profile_img.url}}" width="50" height="50" alt="User profile picture" class="object-cover h-12 w-12 rounded-full overflow-hidden">
                </a>

                <!-- Hidden flyout menu with new post details -->
                <div id="user-menu" class="hidden bg-white shadow p-2 w-48 absolute mt-5 z-50">
                        <div class="flex-auto overflow-hidden bg-white " x-show="open">
                            <ul>
                                <li><a href="/settings"> Account setting </a> </li>
                                <li><a href="log-out"> Log Out</a></li>
                            </ul>
                        </div>
                </div>
            </div>
            </div>


        </div>
    </div>
    <script>
        const postButton = document.getElementById("post-button");
        const postMenu = document.getElementById("post-menu");
    
        postButton.addEventListener("click", function() {
        postMenu.classList.toggle("hidden");
        });
    
    
        const userButton = document.getElementById("user-button");
        const userMenu = document.getElementById("user-menu");
    
        userButton.addEventListener("click", function() {
        userMenu.classList.toggle("hidden");
        });
    </script>
</header>



{% endblock %}