{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>soci+A+lize - Welcome {{user.username}}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css v='1' %}
	</head>

	<body class="bg-gray-200 !important">
		{% csrf_token %}

		{% include 'header.html' %}
	
		<main class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8 h-screen !important flex flex-row">
						<!-- posts start -->
						<div class="space-y-5 flex-shrink-0 lg:w-7/12">
							{% for post in posts %}
							<section class="grid grid-cols-1 gap-6 mb-6 px-4 md:px-6 lg:px-8">
								<div class="px-4 py-4 bg-white shadow-md rounded-lg">
								<div class="py-2 flex flex-row items-center justify-between">
									<div class="flex flex-row items-center">
									<a href="#" class="flex flex-row items-center focus:outline-none focus:shadow-outline rounded-lg">
										<!-- <img class="rounded-full h-8 w-8 object-cover" src="{{user_profile.profile_img.url}}" alt=""> -->
										<a href="/profile/{{post.user}}" class="ml-2 text-base font-medium">{{post.user}}</a>
									</a>
									</div>
									<div class="flex flex-row items-center">
									<p class="text-xs font-semibold text-gray-500">{{post.date}}</p>
									</div>
								</div>
								<div class="mt-2">
									<div class="p-4 flex justify-center bg-slate-300 !important"><img class="object-cover w-80 rounded-lg" src="{{post.image.url}}" alt=""></div>
									<div class="mt-2 py-2 flex flex-row items-center">
										<button class="flex flex-row items-center focus:outline-none focus:shadow-outline rounded-lg">
											<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="w-5 h-5"><path d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path></svg>
											{% if post.likes == 0 %}
															<p>No likes</p>
															{% elif post.likes == 1 %}
															<p>Liked by {{post.likes}} person</p>
															{% else %}
															<p>Liked by {{post.likes}} people</p>
											{% endif %}
										</button>
									</div>
								<div class="py-2">
									<p class="leading-snug">{{post.caption}}</p>
								</div>
								</div>
							</section>
							{% endfor %}
						</div>
					<!-- posts end -->

					<!-- Friends -->
					<div class="lg:w-5/12 flex flex-col space-y-4">
						<div class="w-full">
							<div class="bg-white  shadow-md rounded-md overflow-hidden">

								<div class="bg-gray-50  border-b border-gray-100 flex items-baseline justify-between py-4 px-6 ">
									<h2 class="font-semibold text-lg">Your friends</h2>
								</div>
								
								<div class=" divide-gray-50 divide-opacity-50 divide-y px-4 ">

									{% for friend in friends %}
									<div class="flex items-center justify-between py-3">
										<div class="flex flex-1 items-center space-x-4">
											<a href="/profile/{{friend.user}}">
												<img src="{{friend.profile_img.url}}" class="bg-gray-200 rounded-full w-10 h-10">
											</a>
											<div class="flex flex-col">
												<span class="block capitalize font-semibold"> {{friend.user}} </span>
												<span class="block capitalize text-sm"> {{friend.bio}} </span>
											</div>
										</div>
										
										<a href="/profile/{{friend.user}}" class="border border-gray-200 font-semibold px-4 py-1 rounded-full hover:bg-pink-600 hover:text-white hover:border-pink-600 "> Message </a>
									</div>
									{% endfor %}

								</div>

							</div>
						</div>
						<!-- Users to follow end -->
	
						<!-- Users to follow -->
						<div class="w-full">
								<div class="bg-white  shadow-md rounded-md overflow-hidden">

									<div class="bg-gray-50  border-b border-gray-100 flex items-baseline justify-between py-4 px-6 ">
										<h2 class="font-semibold text-lg">Users You May Know</h2>
									</div>
									
									<div class=" divide-gray-50 divide-opacity-50 divide-y px-4 ">

										{% for profile in suggested_profiles %}
										<div class="flex items-center justify-between py-3">
											<div class="flex flex-1 items-center space-x-4">
												<a href="/profile/{{profile.user}}">
													<img src="{{profile.profile_img.url}}" class="bg-gray-200 rounded-full w-10 h-10">
												</a>
												<div class="flex flex-col">
													<span class="block capitalize font-semibold"> {{profile.user}} </span>
													<span class="block capitalize text-sm"> {{profile.bio}} </span>
												</div>
											</div>
											
											<a href="/profile/{{profile.user}}" class="border border-gray-200 font-semibold px-4 py-1 rounded-full hover:bg-pink-600 hover:text-white hover:border-pink-600 "> View User </a>
										</div>
										{% endfor %}

									</div>

								</div>
						</div>
						<!-- Users to follow end -->
				</div>
					</div>
				</div>               
		</main>
	</body>
</html>
